
*{
    padding:0;
    margin:0;
    list-style:none;
    box-sizing:border-box;
}
%text_blue{
    color:#1786d8;
}

.container{
    width: 1400px;
}
h1{
    color:#fff;
    font-size: 40px;
    letter-spacing:.5px;
}
a{
    display: inline-block;
    letter-spacing:1px;
    text-decoration:none;
    &:hover{
        text-decoration:none;
    }
}